<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="row col-md-12">
		<form action="/postarticle" method="post" enctype="multipart/form-data">
			<div class="control-group form-group">
				<div class="controls">
					<label>Images:</label>
					<input type="file" class="form-control" name="images" multiple required>
				</div>
			</div>
			<div class="control-group form-group">
				<div class="controls">
					<label>Title:</label>
					<input type="text" class="form-control" name="title" required>
				</div>
			</div>
			<div class="control-group form-group">
				<div class="controls">
					<label>Article:</label>
					<textarea id="articletext" rows="15" cols="200" class="form-control"
						required></textarea>
					<input id="article" type="hidden" name="article">
				</div>
			</div>
			<input type="hidden" name="email" value="{{email}}">
			<input type="hidden" name="signature" value="{{signature}}">
			<input id="submit" type="submit" class="btn btn-primary" value="Upload">
		</form>
	</div>
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jqBootstrapValidation.js"></script>
	<script>
		$(document).ready(function(){
			$('#submit').click(function() {
				$("#article").val($("#articletext").val());
			});
		});
	</script>
</body>
</html>